@mol-fe:registry="http://sinopia.devhsk.mol.dmgt.net:4873/"
@mol-ads:registry="http://sinopia.devhsk.mol.dmgt.net:4873/"
unsafe-perm=true
init-author-name="MailOnline"
init-author-email="fe@mailonline.co.uk"
init-author-url="http://www.dailymail.co.uk"
init-license="UNLICENSED"
init-version="0.0.0"
